<% book.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.content %>
     <% if comment.user == current_user %>
      <%= link_to "destroy", book_comment_path(comment.book, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"   %>
    <% end %>
  <% end %>